# Application
NODE_ENV=development
PORT=3000

# PostgreSQL
POSTGRES_URL=postgresql://myuser:mypassword@localhost:5433/DB_CHAPA_TU_VENTA

# AWS
AWS_REGION=us-east-1

# AWS Cognito
AWS_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
AWS_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# AWS DynamoDB
AWS_DYNAMODB_TABLE_NAME=your-dynamodb-table-name

# AWS S3
AWS_S3_BUCKET_NAME=your-s3-bucket-name
AWS_S3_UPLOAD_URL_EXPIRES_IN=900
AWS_S3_DOWNLOAD_URL_EXPIRES_IN=3600
